In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

In [2]:
from bs4 import BeautifulSoup
import requests
import re
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]
imdb = []
for index in range(0, len(movies)):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,            
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Rating:', item['rating'])

1 - The Shawshank Redemption (1994) - Rating: 9.23592072496252
2 - The Godfather (1972) - Rating: 9.155736946343286
3 - The Dark Knight (2008) - Rating: 8.9921899833515
4 - The Godfather Part II (1974) - Rating: 8.98380225926371
5 - 12 Angry Men (1957) - Rating: 8.953745867407017
6 - Schindler's List (1993) - Rating: 8.940574917059797
7 - The Lord of the Rings: The Return of the King (2003) - Rating: 8.933472466312898
8 - Pulp Fiction (1994) - Rating: 8.845742002663142
9 - The Lord of the Rings: The Fellowship of the Ring (2001) - Rating: 8.811631966814703
1 -  Il buono, il brutto, il cattivo (1966) - Rating: 8.788159104300249
11 - Forrest Gump (1994) - Rating: 8.766335772490951
12 - Fight Club (1999) - Rating: 8.747319322929489
13 - The Lord of the Rings: The Two Towers (2002) - Rating: 8.737529617589145
14 - Inception (2010) - Rating: 8.732552183371025
15 - The Empire Strikes Back (1980) - Rating: 8.698012014178785
16 - The Matrix (1999) - Rating: 8.669124339799772
17 - GoodFellas (1990) - Rating: 8.653491337128427
18 - One Flew Over the Cuckoo's Nest (1975) - Rating: 8.637254551496701
19 - Se7en (1995) - Rating: 8.604683492606828
20 - It's a Wonderful Life (1946) - Rating: 8.597496555513255
21 - Shichinin no samurai (1954) - Rating: 8.597288226349068
22 - The Silence of the Lambs (1991) - Rating: 8.58832587072222
23 - Saving Private Ryan (1998) - Rating: 8.580033791448637
24 - Cidade de Deus (2002) - Rating: 8.57927466297067
25 - Interstellar (2014) - Rating: 8.574285321903961
26 - La vita è bella (1997) - Rating: 8.5687565834629
27 - The Green Mile (1999) - Rating: 8.564043058831972
28 - Star Wars (1977) - Rating: 8.547129553349288
29 - Terminator 2: Judgment Day (1991) - Rating: 8.538543769471827
30 - Back to the Future (1985) - Rating: 8.517980691108834
31 - Sen to Chihiro no kamikakushi (2001) - Rating: 8.51600772466879
32 - The Pianist (2002) - Rating: 8.508048862607472
33 - Psycho (1960) - Rating: 8.506019382178732
34 - Gisaengchung (2019) - Rating: 8.500600669841528
35 - Léon (1994) - Rating: 8.491432869865573
36 - The Lion King (1994) - Rating: 8.487719983489887
37 - Gladiator (2000) - Rating: 8.487549435998062
38 - American History X (1998) - Rating: 8.480841937521475
39 - The Departed (2006) - Rating: 8.476375842088412
40 - Whiplash (2014) - Rating: 8.469754257182554
41 - The Prestige (2006) - Rating: 8.469353674374775
42 - The Usual Suspects (1995) - Rating: 8.468021412890485
43 - Casablanca (1942) - Rating: 8.4609574801625
44 - Hotaru no haka (1988) - Rating: 8.457118614150485
45 - Seppuku (1962) - Rating: 8.456465709289539
46 - The Intouchables (2011) - Rating: 8.452864288561631
47 - Modern Times (1936) - Rating: 8.44622756816266
48 - Once Upon a Time in the West (1968) - Rating: 8.439424703159519
49 - Nuovo Cinema Paradiso (1988) - Rating: 8.435906002688753
50 - Rear Window (1954) - Rating: 8.43514345852851
51 - Alien (1979) - Rating: 8.433106462827316
52 - City Lights (1931) - Rating: 8.431352837304846
53 - Apocalypse Now (1979) - Rating: 8.422405004541067
54 - Memento (2000) - Rating: 8.418211786675718
55 - Django Unchained (2012) - Rating: 8.409851206862971
56 - Raiders of the Lost Ark (1981) - Rating: 8.405420766010725
57 - WALL·E (2008) - Rating: 8.395713860226179
58 - The Lives of Others (2006) - Rating: 8.383304116512257
59 - Sunset Blvd (1950) - Rating: 8.378318010967805
60 - Paths of Glory (1957) - Rating: 8.371150336172192
61 - The Shining (1980) - Rating: 8.364535332602722
62 - The Great Dictator (1940) - Rating: 8.363420021321192
63 - Avengers: Infinity War (2018) - Rating: 8.362221536394355
64 - Witness for the Prosecution (1957) - Rating: 8.359254721474962
65 - Aliens (1986) - Rating: 8.342914770719927
66 - Spider-Man: Into the Spider-Verse (2018) - Rating: 8.340231809411865
67 - American Beauty (1999) - Rating: 8.328618154945882
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Rating: 8.326309191985109
69 - The Dark Knight Rises (2012) - Rating: 8.325729534812522
70 - Oldeuboi (2003) - Rating: 8.319845615205875
71 - Inglourious Basterds (2009) - Rating: 8.319737621220504
72 - Amadeus (1984) - Rating: 8.316211873824436
73 - Coco (2017) - Rating: 8.315367100928578
74 - Toy Story (1995) - Rating: 8.3140371331023
75 - Braveheart (1995) - Rating: 8.312341007416157
76 - Joker (2019) - Rating: 8.311896971633415
77 - Das Boot (1981) - Rating: 8.311425621993864
78 - Avengers: Endgame (2019) - Rating: 8.303184562778874
79 - Mononoke-hime (1997) - Rating: 8.303050160185208
80 - Once Upon a Time in America (1984) - Rating: 8.293938149073936
81 - Good Will Hunting (1997) - Rating: 8.293701595538979
82 - Kimi no na wa (2016) - Rating: 8.284866763317709
83 - Singin' in the Rain (1952) - Rating: 8.27534264113255
84 - 3 Idiots (2009) - Rating: 8.27481527142473
85 - Requiem for a Dream (2000) - Rating: 8.272963416090915
86 - Tengoku to jigoku (1963) - Rating: 8.272772973098993
87 - Toy Story 3 (2010) - Rating: 8.269696356162672
88 - Capharnaüm (2018) - Rating: 8.268068768676743
89 - Star Wars: Episode VI - Return of the Jedi (1983) - Rating: 8.263997703889569
90 - 2001: A Space Odyssey (1968) - Rating: 8.261164184086228
91 - Eternal Sunshine of the Spotless Mind (2004) - Rating: 8.26101980267851
92 - Idi i smotri (1985) - Rating: 8.259864533993657
93 - Reservoir Dogs (1992) - Rating: 8.257691754802455
94 - Jagten (2012) - Rating: 8.257167551571001
95 - Citizen Kane (1941) - Rating: 8.248450401002405
96 - Lawrence of Arabia (1962) - Rating: 8.24824995630698
97 - M - Eine Stadt sucht einen Mörder (1931) - Rating: 8.247881437853412
98 - Ikiru (1952) - Rating: 8.245530419141868
99 - North by Northwest (1959) - Rating: 8.244726257190088
10 -  Vertigo (1958) - Rating: 8.242002560635742
101 - The Apartment (1960) - Rating: 8.241882904949447
102 - Le fabuleux destin d'Amélie Poulain (2001) - Rating: 8.24000418391265
103 - Double Indemnity (1944) - Rating: 8.238209405114922
104 - A Clockwork Orange (1971) - Rating: 8.236854035207275
105 - Full Metal Jacket (1987) - Rating: 8.236297035838355
106 - Scarface (1983) - Rating: 8.234879137363492
107 - Hamilton (2020) - Rating: 8.227826742024881
108 - Incendies (2010) - Rating: 8.227163976128784
109 - Heat (1995) - Rating: 8.22610117926826
110 - To Kill a Mockingbird (1962) - Rating: 8.225032799721959
111 - Up (2009) - Rating: 8.224917953278647
112 - The Sting (1973) - Rating: 8.224300010710577
113 - Jodaeiye Nader az Simin (2011) - Rating: 8.22104994948015
114 - Metropolis (1927) - Rating: 8.22064931592438
115 - LA Confidential (1997) - Rating: 8.217586158613981
116 - Die Hard (1988) - Rating: 8.217328615366661
117 - Taxi Driver (1976) - Rating: 8.217238738593895
118 - Indiana Jones and the Last Crusade (1989) - Rating: 8.216529164039674
119 - Snatch (2000) - Rating: 8.216299898634823
120 - Ladri di biciclette (1948) - Rating: 8.21529583121255
121 - Taare Zameen Par (2007) - Rating: 8.211485649213891
122 - 1917 (2019) - Rating: 8.2108831942179
123 - Top Gun: Maverick (2022) - Rating: 8.207589207242592
124 - Der Untergang (2004) - Rating: 8.203024645265055
125 - Dangal (2016) - Rating: 8.198927751610922
126 - Per qualche dollaro in più (1965) - Rating: 8.198374786646822
127 - Batman Begins (2005) - Rating: 8.196600440250188
128 - The Kid (1921) - Rating: 8.190466461164702
129 - Some Like It Hot (1959) - Rating: 8.190046727347417
130 - The Father (2020) - Rating: 8.181535098314251
131 - All About Eve (1950) - Rating: 8.179942612229896
132 - The Wolf of Wall Street (2013) - Rating: 8.178926730548644
133 - Green Book (2018) - Rating: 8.17792548895117
134 - Judgment at Nuremberg (1961) - Rating: 8.171371285843563
135 - Ran (1985) - Rating: 8.164384905131076
136 - Casino (1995) - Rating: 8.16398115766828
137 - The Truman Show (1998) - Rating: 8.162596835922319
138 - There Will Be Blood (2007) - Rating: 8.161064961260973
139 - Pan's Labyrinth (2006) - Rating: 8.159925610564033
140 - Unforgiven (1992) - Rating: 8.158113827383097
141 - The Sixth Sense (1999) - Rating: 8.154957154751417
142 - Shutter Island (2010) - Rating: 8.154704236731574
143 - A Beautiful Mind (2001) - Rating: 8.150447627770234
144 - Jurassic Park (1993) - Rating: 8.150313723820862
145 - Yôjinbô (1961) - Rating: 8.147242280618224
146 - The Treasure of the Sierra Madre (1948) - Rating: 8.146956584206835
147 - Monty Python and the Holy Grail (1975) - Rating: 8.144372700086313
148 - No Country for Old Men (2007) - Rating: 8.140876881252217
149 - Kill Bill: Vol 1 (2003) - Rating: 8.13939810607628
150 - The Great Escape (1963) - Rating: 8.139089750642466
151 - Rashômon (1950) - Rating: 8.136999753142856
152 - The Thing (1982) - Rating: 8.135024685372633
153 - Finding Nemo (2003) - Rating: 8.131244054033246
154 - Spider-Man: No Way Home (2021) - Rating: 8.130693247934625
155 - The Elephant Man (1980) - Rating: 8.126120737594656
156 - Chinatown (1974) - Rating: 8.124927793138685
157 - Raging Bull (1980) - Rating: 8.121816112299713
158 - V for Vendetta (2005) - Rating: 8.121806986494697
159 - Gone with the Wind (1939) - Rating: 8.120861893248538
160 - Dial M for Murder (1954) - Rating: 8.119480184273199
161 - Lock, Stock and Two Smoking Barrels (1998) - Rating: 8.11946603264921
162 - Inside Out (2015) - Rating: 8.118830459913111
163 - Hauru no ugoku shiro (2004) - Rating: 8.117945891796104
164 - El secreto de sus ojos (2009) - Rating: 8.11771050101077
165 - Three Billboards Outside Ebbing, Missouri (2017) - Rating: 8.111159346442202
166 - Trainspotting (1996) - Rating: 8.109907774287539
167 - The Bridge on the River Kwai (1957) - Rating: 8.10963727803181
168 - Prisoners (2013) - Rating: 8.108323380958657
169 - Warrior (2011) - Rating: 8.102177247439874
170 - Fargo (1996) - Rating: 8.102157188613209
171 - Gran Torino (2008) - Rating: 8.099570328808879
172 - Catch Me If You Can (2002) - Rating: 8.0921444040546
173 - Tonari no Totoro (1988) - Rating: 8.09146428075065
174 - Million Dollar Baby (2004) - Rating: 8.088326615756236
175 - Bacheha-Ye aseman (1997) - Rating: 8.085706702934523
176 - Blade Runner (1982) - Rating: 8.084522748690885
177 - The Gold Rush (1925) - Rating: 8.084085713516984
178 - Klaus (2019) - Rating: 8.082787201773968
179 - Harry Potter and the Deathly Hallows: Part 2 (2011) - Rating: 8.081366620167913
180 - Before Sunrise (1995) - Rating: 8.081005261514337
181 - 12 Years a Slave (2013) - Rating: 8.080364898051705
182 - John Wick: Chapter 4 (2023) - Rating: 8.080329350044645
183 - Ben-Hur (1959) - Rating: 8.078920367929385
184 - The Grand Budapest Hotel (2014) - Rating: 8.078095356077451
185 - On the Waterfront (1954) - Rating: 8.077792592792449
186 - Gone Girl (2014) - Rating: 8.077047657932583
187 - Smultronstället (1957) - Rating: 8.074744404268051
188 - The General (1926) - Rating: 8.07450689245819
189 - Barry Lyndon (1975) - Rating: 8.07419867413653
190 - In the Name of the Father (1993) - Rating: 8.073207102471125
191 - The Deer Hunter (1978) - Rating: 8.072978195357752
192 - The Third Man (1949) - Rating: 8.071914031240084
193 - Hacksaw Ridge (2016) - Rating: 8.07168297143918
194 - Le salaire de la peur (1953) - Rating: 8.069600278707302
195 - Salinui chueok (2003) - Rating: 8.0693127164408
196 - Relatos salvajes (2014) - Rating: 8.0677328068347
197 - Sherlock Jr (1924) - Rating: 8.067023723918535
198 - Mr Smith Goes to Washington (1939) - Rating: 8.065653422215311
199 - Mad Max: Fury Road (2015) - Rating: 8.063721097877126
200 - Mary and Max (2009) - Rating: 8.06228385326038
201 - Det sjunde inseglet (1957) - Rating: 8.061587135720368
202 - How to Train Your Dragon (2010) - Rating: 8.061504415804173
203 - Monsters, Inc (2001) - Rating: 8.06098988592164
204 - Dead Poets Society (1989) - Rating: 8.060921345999933
205 - Jaws (1975) - Rating: 8.060118547079833
206 - Room (2015) - Rating: 8.058878224118919
207 - The Big Lebowski (1998) - Rating: 8.05721792631278
208 - Tôkyô monogatari (1953) - Rating: 8.055505534188281
209 - La passion de Jeanne d'Arc (1928) - Rating: 8.05156504229745
210 - Ford v Ferrari (2019) - Rating: 8.050579311719106
211 - Hotel Rwanda (2004) - Rating: 8.047942067152405
212 - Rocky (1976) - Rating: 8.046741010423954
213 - Ratatouille (2007) - Rating: 8.043920263732696
214 - Platoon (1986) - Rating: 8.043705567143878
215 - Spotlight (2015) - Rating: 8.041121188568193
216 - Logan (2017) - Rating: 8.040847574269643
217 - The Terminator (1984) - Rating: 8.040186421736264
218 - Stand by Me (1986) - Rating: 8.035875931076372
219 - Rush (2013) - Rating: 8.03490702306446
220 - Network (1976) - Rating: 8.034073378049909
221 - Before Sunset (2004) - Rating: 8.032960349806402
222 - Into the Wild (2007) - Rating: 8.030619779036247
223 - The Wizard of Oz (1939) - Rating: 8.030054187719237
224 - The Best Years of Our Lives (1946) - Rating: 8.02835367369194
225 - The Exorcist (1973) - Rating: 8.026527939371203
226 - Groundhog Day (1993) - Rating: 8.026395146694512
227 - The Incredibles (2004) - Rating: 8.025070750815887
228 - To Be or Not to Be (1942) - Rating: 8.024600091981538
229 - La haine (1995) - Rating: 8.02448681413794
230 - Pirates of the Caribbean: The Curse of the Black Pearl (2003) - Rating: 8.02382026748424
231 - Pather Panchali (1955) - Rating: 8.02236991238644
232 - The Grapes of Wrath (1940) - Rating: 8.022199741833283
233 - La battaglia di Algeri (1966) - Rating: 8.022095762295569
234 - Hachi: A Dog's Tale (2009) - Rating: 8.021988968012746
235 - Babam ve Oglum (2005) - Rating: 8.020305913402034
236 - Jai Bhim (2021) - Rating: 8.020047907442297
237 - Amores perros (2000) - Rating: 8.019518176867235
238 - Rebecca (1940) - Rating: 8.018438210541483
239 - Ah-ga-ssi (2016) - Rating: 8.01818965676759
240 - Cool Hand Luke (1967) - Rating: 8.017521794193689
241 - The Sound of Music (1965) - Rating: 8.013430582695507
242 - It Happened One Night (1934) - Rating: 8.012644668713579
243 - Les quatre cents coups (1959) - Rating: 8.012414573334311
244 - Persona (1966) - Rating: 8.010444796030487
245 - Life of Brian (1979) - Rating: 8.008450894142861
246 - The Iron Giant (1999) - Rating: 8.006159836995273
247 - The Help (2011) - Rating: 8.005848692835514
248 - Aladdin (1992) - Rating: 8.003643777376825
249 - Dersu Uzala (1975) - Rating: 8.002634405581803
250 - Dances with Wolves (1990) - Rating: 8.001811710968228

In [3]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]
imdb = []
for index in range(0, len(movies)):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,            
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Rating:', item['rating'])

1 - Ramayana: The Legend of Prince Rama (1993) - Rating: 8.566603238534677
2 - Rocketry: The Nambi Effect (2022) - Rating: 8.401397631785805
3 - Nayakan (1987) - Rating: 8.396802018298109
4 - Gol Maal (1979) - Rating: 8.395716342095076
5 - 777 Charlie (2022) - Rating: 8.379437384960948
6 - Anbe Sivam (2003) - Rating: 8.366493840693568
7 - Pariyerum Perumal (2018) - Rating: 8.362493829731019
8 - Apur Sansar (1959) - Rating: 8.352164172377513
9 - 3 Idiots (2009) - Rating: 8.351857611888555
1 -  Manichitrathazhu (1993) - Rating: 8.349200490771398
11 - Jai Bhim (2021) - Rating: 8.34758797522642
12 - #Home (2021) - Rating: 8.330299928182878
13 - Soorarai Pottru (2020) - Rating: 8.316040170890073
14 - Black Friday (2004) - Rating: 8.310665707756549
15 - Kumbalangi Nights (2019) - Rating: 8.309530371536463
16 - C/o Kancharapalem (2018) - Rating: 8.30302538226817
17 - Taare Zameen Par (2007) - Rating: 8.298152373347524
18 - Kireedam (1989) - Rating: 8.29531527250993
19 - Dangal (2016) - Rating: 8.277583478375085
20 - Kaithi (2019) - Rating: 8.261441153937374
21 - Jersey (2019) - Rating: 8.259769958521732
22 - 96 (2018) - Rating: 8.256630120748333
23 - Maya Bazaar (1957) - Rating: 8.240440191829059
24 - Natsamrat (2016) - Rating: 8.237619425627852
25 - Drishyam 2 (2021) - Rating: 8.233964184799657
26 - Asuran (2019) - Rating: 8.233907439471462
27 - Sita Ramam (2022) - Rating: 8.230267997813586
28 - Thevar Magan (1992) - Rating: 8.229981680976177
29 - Visaaranai (2015) - Rating: 8.223626488935153
30 - Sarpatta Parambarai (2021) - Rating: 8.212070517401138
31 - Thalapathi (1991) - Rating: 8.20882158984858
32 - Nadodikkattu (1987) - Rating: 8.193110798805481
33 - Pather Panchali (1955) - Rating: 8.184267523804843
34 - Drishyam (2013) - Rating: 8.178427005816797
35 - Thani Oruvan (2015) - Rating: 8.177502774761011
36 - Jaane Bhi Do Yaaro (1983) - Rating: 8.173852377797136
37 - Vada Chennai (2018) - Rating: 8.170659664027164
38 - Aparajito (1956) - Rating: 8.166804496280928
39 - Khosla Ka Ghosla! (2006) - Rating: 8.162845499674127
40 - Sardar Udham (2021) - Rating: 8.157152087365343
41 - Anniyan (2005) - Rating: 8.153031103023597
42 - Ratsasan (2018) - Rating: 8.145864940479923
43 - Chupke Chupke (1975) - Rating: 8.137954528324512
44 - Gangs of Wasseypur (2012) - Rating: 8.135357573458895
45 - Drishyam (2015) - Rating: 8.132864748875114
46 - Mahanati (2018) - Rating: 8.132584066427814
47 - Peranbu (2018) - Rating: 8.132165042072868
48 - Bangalore Days (2014) - Rating: 8.130997884790414
49 - Premam (2015) - Rating: 8.128049736967384
50 - Satya (1998) - Rating: 8.127112868392793
51 - Agent Sai Srinivasa Athreya (2019) - Rating: 8.12571716028476
52 - Devasuram (1993) - Rating: 8.116835083401917
53 - Tumbbad (2018) - Rating: 8.110293842498374
54 - Super Deluxe (2019) - Rating: 8.110288213470541
55 - Bhaag Milkha Bhaag (2013) - Rating: 8.10815739962116
56 - Andhadhun (2018) - Rating: 8.106769325335723
57 - Vikram Vedha (2017) - Rating: 8.100110858626907
58 - Chithram (1988) - Rating: 8.09943257777906
59 - Guide (1965) - Rating: 8.09644054164629
60 - Zindagi Na Milegi Dobara (2011) - Rating: 8.094246177468076
61 - Chhichhore (2019) - Rating: 8.094181513083036
62 - Kannathil Muthamittal (2002) - Rating: 8.091517406316777
63 - Vikram (2022) - Rating: 8.089944717829038
64 - Sairat (2016) - Rating: 8.088584227160775
65 - Shahid (2012) - Rating: 8.087700676992698
66 - Iruvar (1997) - Rating: 8.082265653559023
67 - Paan Singh Tomar (2012) - Rating: 8.080622170681554
68 - Swades: We, the People (2004) - Rating: 8.08028726365071
69 - Aruvi (2016) - Rating: 8.07870685608966
70 - Munna Bhai MBBS (2003) - Rating: 8.074408473148727
71 - Spadikam (1995) - Rating: 8.071677457144986
72 - Chak De! India (2007) - Rating: 8.070086932041821
73 - Uri: The Surgical Strike (2019) - Rating: 8.067589990978664
74 - Hera Pheri (2000) - Rating: 8.06526583346741
75 - Mudhalvan (1999) - Rating: 8.064611301691563
76 - Pyaasa (1957) - Rating: 8.06310375097169
77 - Black (2005) - Rating: 8.060046940060651
78 - Jo Jeeta Wohi Sikandar (1992) - Rating: 8.058050978574768
79 - Papanasam (2015) - Rating: 8.055814455974389
80 - Pudhu Pettai (2006) - Rating: 8.053993103537918
81 - Lagaan: Once Upon a Time in India (2001) - Rating: 8.052233740782697
82 - Dhuruvangal Pathinaaru (2016) - Rating: 8.048059926360155
83 - Mandela (2021) - Rating: 8.047601117032263
84 - PK (2014) - Rating: 8.046791794828762
85 - Talvar (2015) - Rating: 8.040582294236305
86 - Queen (2013) - Rating: 8.040165971336753
87 - Soodhu Kavvum (2013) - Rating: 8.039368420918295
88 - Article 15 (2019) - Rating: 8.038328327700336
89 - Sholay (1975) - Rating: 8.03593922522447
90 - OMG: Oh My God! (2012) - Rating: 8.035596389115172
91 - Sarfarosh (1999) - Rating: 8.034021530990668
92 - Udaan (2010) - Rating: 8.032624657810413
93 - Drishyam 2 (2022) - Rating: 8.032463434889797
94 - Barfi! (2012) - Rating: 8.03197653370366
95 - Jigarthanda (2014) - Rating: 8.029420535434006
96 - Theeran Adhigaaram Ondru (2017) - Rating: 8.026246432464019
97 - Kaakkaa Muttai (2014) - Rating: 8.025397512443416
98 - The Legend of Bhagat Singh (2002) - Rating: 8.025141679055583
99 - Jana Gana Mana (2022) - Rating: 8.023386465201066
10 -  Ustad Hotel (2012) - Rating: 8.022783251526599
101 - Rang De Basanti (2006) - Rating: 8.0194236720445
102 - Baahubali 2: The Conclusion (2017) - Rating: 8.019096456492802
103 - Angoor (1982) - Rating: 8.017326652974779
104 - Maheshinte Prathikaaram (2016) - Rating: 8.00981073564076
105 - Kahaani (2012) - Rating: 8.009646471048985
106 - Virumandi (2004) - Rating: 8.00909340602212
107 - A Wednesday (2008) - Rating: 8.004955262513159
108 - Dil Chahta Hai (2001) - Rating: 8.00490851911361
109 - Baasha (1995) - Rating: 8.004066076373974
110 - Masaan (2015) - Rating: 8.003857703626029
111 - Shershaah (2021) - Rating: 7.999314323756556
112 - Lage Raho Munna Bhai (2006) - Rating: 7.996668095691967
113 - Iqbal (2005) - Rating: 7.993352421738342
114 - Pithamagan (2003) - Rating: 7.989082520595106
115 - Pink (2016) - Rating: 7.987945547801951
116 - Roja (1992) - Rating: 7.986191722686931
117 - Kaun Pravin Tambe? (2022) - Rating: 7.985592116986966
118 - Anand (1971) - Rating: 7.98405249729715
119 - Nil Battey Sannata (2015) - Rating: 7.9826114142023625
120 - Lucia (2013) - Rating: 7.97909624562145
121 - Charulata (1964) - Rating: 7.978714818240878
122 - Bajrangi Bhaijaan (2015) - Rating: 7.977905956228101
123 - Bommarillu (2006) - Rating: 7.968937398858382
124 - Alai Payuthey (2000) - Rating: 7.968258566991965
125 - Omkara (2006) - Rating: 7.967403011778619
126 - Section 375 (2019) - Rating: 7.967256307276012
127 - Oru Vadakkan Veeragatha (1989) - Rating: 7.966443793320969
128 - Bombay (1995) - Rating: 7.957609920689954
129 - Kantara (2022) - Rating: 7.952532997617837
130 - Rangasthalam (2018) - Rating: 7.950605594461022
131 - KGF: Chapter 1 (2018) - Rating: 7.946752277106377
132 - Indian (1996) - Rating: 7.94497593167417
133 - Dilwale Dulhania Le Jayenge (1995) - Rating: 7.93872876058867
134 - Haider (2014) - Rating: 7.933125092619141
135 - Mughal-E-Azam (1960) - Rating: 7.933024946471925
136 - Andaz Apna Apna (1994) - Rating: 7.928268516835397
137 - The Great Indian Kitchen (2021) - Rating: 7.927584119108447
138 - Athadu (2005) - Rating: 7.9265631856082575
139 - Special Chabbis (2013) - Rating: 7.922680877993193
140 - Vaaranam Aayiram (2008) - Rating: 7.920391474514961
141 - Maqbool (2003) - Rating: 7.916622284286962
142 - Padayappa (1999) - Rating: 7.913809316675039
143 - Thadam (2019) - Rating: 7.912184501617086
144 - Gulaal (2009) - Rating: 7.911011253256899
145 - Maanaadu (2021) - Rating: 7.908122548458033
146 - Pelli Choopulu (2016) - Rating: 7.897438877367572
147 - KGF: Chapter 2 (2022) - Rating: 7.894846670248771
148 - Ulidavaru Kandanthe (2014) - Rating: 7.893838487400693
149 - Deewaar (1975) - Rating: 7.877779245530807
150 - Company (2002) - Rating: 7.876687802117288
151 - Vaastav: The Reality (1999) - Rating: 7.876551622588527
152 - Ugly (2013) - Rating: 7.872337563816552
153 - Padosan (1968) - Rating: 7.871229887985518
154 - Naduvula Konjam Pakkatha Kaanom (2012) - Rating: 7.871157350892394
155 - Badhaai ho (2018) - Rating: 7.871030332170183
156 - Aadukalam (2011) - Rating: 7.864415844890538
157 - Kshanam (2016) - Rating: 7.863119501748741
158 - Gully Boy (2019) - Rating: 7.862611167886484
159 - Evaru (2019) - Rating: 7.861240995275301
160 - My Name Is Khan (2010) - Rating: 7.856514358531994
161 - Nayattu (2021) - Rating: 7.855712984503707
162 - Maanagaram (2017) - Rating: 7.848793831569708
163 - DevD (2009) - Rating: 7.848523251682393
164 - Pranchiyettan and the Saint (2010) - Rating: 7.840498540606673
165 - Thondimuthalum Dhriksakshiyum (2017) - Rating: 7.839119562742354
166 - Kal Ho Naa Ho (2003) - Rating: 7.838674245774002
167 - Baishe Srabon (2011) - Rating: 7.836181477242869
168 - Major (2022) - Rating: 7.8346960048428445
169 - Jab We Met (2007) - Rating: 7.832485989090003
170 - Garuda Gamana Vrishabha Vahana (2021) - Rating: 7.83185868272981
171 - Ayyappanum Koshiyum (2020) - Rating: 7.831568196764601
172 - Manjhi: The Mountain Man (2015) - Rating: 7.830448094692431
173 - Ship of Theseus (2012) - Rating: 7.827882894556226
174 - Take Off (2017) - Rating: 7.827504594923051
175 - Charlie (2015) - Rating: 7.827292107681078
176 - Mukkabaaz (2017) - Rating: 7.826280261244086
177 - Deiva Thirumagal (2011) - Rating: 7.821250202068489
178 - Border (1997) - Rating: 7.820366034371418
179 - Vedam (2010) - Rating: 7.818127771446697
180 - MS Dhoni: The Untold Story (2016) - Rating: 7.817021274757328
181 - Dil Bechara (2020) - Rating: 7.808902844347781
182 - Bãhubali: The Beginning (2015) - Rating: 7.807545477032528
183 - Arjun Reddy (2017) - Rating: 7.804167109238695
184 - Salaam Bombay! (1988) - Rating: 7.803661475647936
185 - Karnan (2021) - Rating: 7.799364403005071
186 - Padman (2018) - Rating: 7.797488269014573
187 - Gargi (2022) - Rating: 7.793408924777333
188 - Baby (2015) - Rating: 7.790385699356223
189 - Vinnaithaandi Varuvaayaa (2010) - Rating: 7.78929699764243
190 - Kirik Party (2016) - Rating: 7.788787817920082
191 - Jalsaghar (1958) - Rating: 7.786717700203072
192 - Ankhon Dekhi (2013) - Rating: 7.78558449802166
193 - Super 30 (2019) - Rating: 7.782439304314978
194 - Love Today (2022) - Rating: 7.781317638278808
195 - Hridayam (2022) - Rating: 7.779871356714902
196 - The Tashkent Files (2019) - Rating: 7.778498834909428
197 - Malik (2021) - Rating: 7.77736020829385
198 - Pizza (2012) - Rating: 7.7772422265479415
199 - Hindi Medium (2017) - Rating: 7.7770037850412335
200 - Android Kunjappan Version 525 (2019) - Rating: 7.773579900249298
201 - English Vinglish (2012) - Rating: 7.771579113939993
202 - Lakshya (2004) - Rating: 7.768291566591393
203 - Johnny Gaddaar (2007) - Rating: 7.766841546969011
204 - Hey Ram (2000) - Rating: 7.765905664226264
205 - Dor (2006) - Rating: 7.765636509493944
206 - Memories (2013) - Rating: 7.765598891791213
207 - Joseph (2018) - Rating: 7.7647730043645415
208 - Airlift (2016) - Rating: 7.7601577558640455
209 - Anjaam Pathiraa (2020) - Rating: 7.750102901749561
210 - Thuppakki (2012) - Rating: 7.742969352668044
211 - Gangaajal (2003) - Rating: 7.740536366409066
212 - Okkadu (2003) - Rating: 7.740164574932898
213 - KaakhaKaakha: The Police (2003) - Rating: 7.737447993595494
214 - Pokiri (2006) - Rating: 7.734702215728489
215 - The Lunchbox (2013) - Rating: 7.733063093586099
216 - Ghilli (2004) - Rating: 7.730328197910858
217 - Vettaiyaadu Vilaiyaadu (2006) - Rating: 7.727281586514918
218 - RRR (Rise Roar Revolt) (Rise Roar Revolt) - Rating: 7.727082971749726
219 - Mumbai Police (2013) - Rating: 7.722115931032138
220 - Ab Tak Chhappan (2004) - Rating: 7.72156651477756
221 - RangiTaranga (2015) - Rating: 7.710649981995008
222 - Kaththi (2014) - Rating: 7.710598617468194
223 - Manam (2014) - Rating: 7.710394289434345
224 - Veer-Zaara (2004) - Rating: 7.70966148791433
225 - Unnaipol Oruvan (2009) - Rating: 7.709040258601905
226 - Oopiri (2016) - Rating: 7.705738101172288
227 - Vicky Donor (2012) - Rating: 7.704594123478218
228 - Angamaly Diaries (2017) - Rating: 7.704253402647593
229 - Mother India (1957) - Rating: 7.697377682019361
230 - Thulladha Manamum Thullum (1999) - Rating: 7.697174839764826
231 - Aayirathil Oruvan (2010) - Rating: 7.692149889201562
232 - Secret Superstar (2017) - Rating: 7.69183651899088
233 - Nayak: The Real Hero (2001) - Rating: 7.691239970381988
234 - Stanley Ka Dabba (2011) - Rating: 7.690873243202656
235 - Rock On!! (2008) - Rating: 7.68874299151727
236 - Sonchiriya (2019) - Rating: 7.688524501263827
237 - Mr India (1987) - Rating: 7.687628342799224
238 - Udta Punjab (2016) - Rating: 7.686682562678839
239 - Mimi (2021) - Rating: 7.684590163517074
240 - Happy Days (2007) - Rating: 7.681690051162687
241 - Badla (2019) - Rating: 7.680864858811359
242 - Khushi (2001) - Rating: 7.678408051894682
243 - Kai po che! (2013) - Rating: 7.676978891362801
244 - Dasvidaniya (2008) - Rating: 7.6763432340535305
245 - Raazi (2018) - Rating: 7.675991904341524
246 - Poove Unakkaga (1996) - Rating: 7.675139574728137
247 - Dia (2020) - Rating: 7.668145884808987
248 - Thiruchitrambalam (2022) - Rating: 7.663846230570716
249 - Minnal Murali (2021) - Rating: 7.662705198174184
250 - Goodachari (2018) - Rating: 7.656003870516348

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

page

soup = BeautifulSoup(page.content)
soup


president_name = soup.find('div', class_="presidentListing")
name = president_name.text.split('\n')[1]
name


president_name = []

for i in soup.find_all('div', class_="presidentListing"):
    president_name.append(i.text.split('\n')[1])

president_name


terms_of_office = soup.find('div', class_="presidentListing").text
term = terms_of_office.split("Term of Office:")[1].strip()
term = term.split('\n')[0].strip()
term


terms_of_office = []

for i in soup.find_all('div', class_="presidentListing"):
    term = i.text.split("Term of Office:")[1].strip()
    term = term.split('\n')[0].strip()
    terms_of_office.append(term)
terms_of_office


df = pd.DataFrame({'President Name' : president_name, 'Terms of Office': terms_of_office, })
df

,President Name,Terms of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [5]:
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]

Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Nz_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Nz_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Nz_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Nz_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Nz_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Nz_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Mens = pd.DataFrame()
#ICC_Mens.index = np.arange(1, len(ICC_Mens))
#ICC_Mens.index = ICC_Mens.index + 1
#ICC_Mens.shift()[1:]
#ICC_Mens.index = np.arange(1, len(ICC_Mens)+1)
ICC_Mens['Team']=Team_Names
ICC_Mens['Matches']=Team_Matches
ICC_Mens['Points']=Team_Points
ICC_Mens['Rating']=Team_Rating
ICC_Mens.index = ICC_Mens.index + 1
ICC_Mens

            Team Matches Points Rating
1      Australia      35  3,965    113
2    New Zealand      31  3,504    113
3          India      47  5,294    113
4        England      36  3,988    111
5       Pakistan      25  2,649    106
6   South Africa      31  3,141    101
7     Bangladesh      38  3,625     95
8      Sri Lanka      36  3,099     86
9    West Indies      43  3,105     72
10   Afghanistan      20  1,419     71

In [6]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Batsman_Names=[]
Batsman_Team=[]
Batsman_Rating=[]
Batsman = soup.select('div.rankings-block__banner--name')
Batsman_Names.append(Batsman[0].text)
rest_Batsman=soup.select('td.table-body__cell.name')
for i in rest_Batsman[:9]:
  Batsman_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[0].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_alphabet=temp_str[slice(2,5)]
Batsman_Team.append(temp_alphabet)
temp_number=temp_str[slice(5,8)]
Batsman_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[:9]:
  Batsman_Team.append(i.text.replace('\n', ''))


Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[:9]:
  Batsman_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Mens_Batsman = pd.DataFrame({})
ICC_Mens_Batsman['Player']=Batsman_Names
ICC_Mens_Batsman['Team']=Batsman_Team
ICC_Mens_Batsman['Rating']=Batsman_Rating
ICC_Mens_Batsman.index += 1
ICC_Mens_Batsman

                   Player Team Rating
1              Babar Azam  PAK    887
2   Rassie van der Dussen   SA    777
3             Imam-ul-Haq  PAK    740
4            Shubman Gill  IND    738
5            David Warner  AUS    726
6             Virat Kohli  IND    719
7         Quinton de Kock   SA    718
8            Rohit Sharma  IND    707
9             Steve Smith  AUS    702
10           Fakhar Zaman  PAK    699

In [7]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Bowler_Names=[]
Bowler_Team=[]
Bowler_Rating=[]
Bowler = soup.select('div.rankings-block__banner--name')
Bowler_Names.append(Bowler[1].text)
rest_Bowler=soup.select('td.table-body__cell.name')
for i in rest_Bowler[9:18]:
  Bowler_Names.append(i.text.replace('\n', ''))
Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[1].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_str
temp_alphabet=temp_str[slice(2,4)]
Bowler_Team.append(temp_alphabet)
temp_number=temp_str[slice(4,7)]
Bowler_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[9:18]:
  Bowler_Team.append(i.text.replace('\n', ''))

Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[9:18]:
  Bowler_Rating.append(i.text.replace('\n', ''))
Bowler_Rating

import pandas as pd
ICC_Mens_Bowler = pd.DataFrame({})
ICC_Mens_Bowler['Player']=Bowler_Names
ICC_Mens_Bowler['Team']=Bowler_Team
ICC_Mens_Bowler['Rating']=Bowler_Rating
ICC_Mens_Bowler.index += 1
ICC_Mens_Bowler

              Player Team Rating
1     Josh Hazlewood   AU    S70
2        Trent Boult   NZ    694
3     Mohammed Siraj  IND    691
4     Mitchell Starc  AUS    686
5         Matt Henry   NZ    676
6        Rashid Khan  AFG    659
7         Adam Zampa  AUS    652
8     Shaheen Afridi  PAK    641
9   Mujeeb Ur Rahman  AFG    637
10   Shakib Al Hasan  BAN    636

In [8]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Team_Names=[]
Team_Matches=[]
Team_Points=[]
Team_Rating=[]


Teams = soup.select('span.u-hide-phablet')
for i in Teams[:10]:
  Team_Names.append(i.text.replace('\n', ''))

Aus_Matches=soup.select('td.rankings-block__banner--matches')
Team_Matches.append(Aus_Matches[0].text.replace('\n',''))
Rest_Matches=soup.select('td.table-body__cell.u-center-text')
for i in Rest_Matches[0:17:2]:
  Team_Matches.append(i.text.replace('\n', ''))
Team_Matches

Aus_Points=soup.select('td.rankings-block__banner--points')
Team_Points.append(Aus_Points[0].text.replace('\n',''))
for i in Rest_Matches[1:18:2]:
  Team_Points.append(i.text.replace('\n', ''))
Team_Points

Aus_Rating=soup.select('td.rankings-block__banner--rating.u-text-right')
Team_Rating.append(Aus_Rating[0].text.replace('\n',''))
Team_Rating[0]=Team_Rating[0].replace(' ','')
Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rating[:9]:
  Team_Rating.append(i.text.replace('\n', ''))
Team_Rating

import pandas as pd
ICC_Womens = pd.DataFrame({})
ICC_Womens['Team']=Team_Names
ICC_Womens['Matches']=Team_Matches
ICC_Womens['Points']=Team_Points
ICC_Womens['Rating']=Team_Rating
ICC_Womens.index += 1
ICC_Womens

            Team Matches Points Rating
1      Australia      21  3,603    172
2        England      28  3,342    119
3   South Africa      26  3,098    119
4          India      27  2,820    104
5    New Zealand      25  2,553    102
6    West Indies      27  2,535     94
7     Bangladesh      13    983     76
8       Thailand      11    821     75
9       Pakistan      27  1,678     62
10     Sri Lanka       8    353     44

In [9]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Batsman_Names=[]
Batsman_Team=[]
Batsman_Rating=[]
Batsman = soup.select('div.rankings-block__banner--name')
Batsman_Names.append(Batsman[0].text)
Batsman_Names
rest_Batsman=soup.select('td.table-body__cell.name')
for i in rest_Batsman[:9]:
  Batsman_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[0].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)
temp_alphabet=temp_str[slice(2,5)]
Batsman_Team.append(temp_alphabet)
temp_number=temp_str[slice(5,8)]
Batsman_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[:9]:
  Batsman_Team.append(i.text.replace('\n', ''))


Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[:9]:
  Batsman_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_Batsman = pd.DataFrame({})
ICC_Womens_Batsman['Player']=Batsman_Names
ICC_Womens_Batsman['Team']=Batsman_Team
ICC_Womens_Batsman['Rating']=Batsman_Rating
ICC_Womens_Batsman.index += 1
ICC_Womens_Batsman

                 Player Team Rating
1          Alyssa Healy  AUS    762
2           Beth Mooney  AUS    754
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    731
5           Meg Lanning  AUS    717
6      Harmanpreet Kaur  IND    716
7       Smriti Mandhana  IND    714
8   Chamari Athapaththu   SL    655
9     Amy Satterthwaite   NZ    641
10         Ellyse Perry  AUS    626

In [10]:
from bs4 import BeautifulSoup
import requests
import re
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
Player_Names=[]
Player_Team=[]
Player_Rating=[]
Player = soup.select('div.rankings-block__banner--name')
Player_Names.append(Player[2].text)
rest_Player=soup.select('td.table-body__cell.name')
for i in rest_Player[18:27]:
  Player_Names.append(i.text.replace('\n', ''))

Country=soup.select('div.rankings-block__banner--nationality')
temp=[]
temp.append(Country[2].text.replace('\n',''))
temp[0]=temp[0].replace(' ','')
temp_str=""
temp_alphabet=""
temp_number=""
temp_str=str(temp)

temp_alphabet=temp_str[slice(2,4)]
Player_Team.append(temp_alphabet)
temp_number=temp_str[slice(4,7)]
Player_Rating.append(temp_number)

Rest_Country=soup.select('td.table-body__cell.nationality-logo')
for i in Rest_Country[18:27]:
  Player_Team.append(i.text.replace('\n', ''))

Rest_Rating=soup.select('td.table-body__cell.u-text-right.rating')
for i in Rest_Rating[18:27]:
  Player_Rating.append(i.text.replace('\n', ''))

import pandas as pd
ICC_Womens_AllRounder = pd.DataFrame({})
ICC_Womens_AllRounder['Player']=Player_Names
ICC_Womens_AllRounder['Team']=Player_Team
ICC_Womens_AllRounder['Rating']=Player_Rating
ICC_Womens_AllRounder.index += 1
ICC_Womens_AllRounder

               Player Team Rating
1     Hayley Matthews   WI    373
2      Natalie Sciver  ENG    371
3        Ellyse Perry  AUS    366
4      Marizanne Kapp   SA    349
5         Amelia Kerr   NZ    336
6       Deepti Sharma  IND    322
7    Ashleigh Gardner  AUS    292
8       Jess Jonassen  AUS    250
9            Nida Dar  PAK    232
10  Sophie Ecclestone  ENG    205

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.cnbc.com/world/?region=world"
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

headlines = []
times = []
links = []

for item in soup.find_all('div', class_='Card-titleContainer'):
    headline = item.find('a').get_text().strip()
    headlines.append(headline)
    
    try:
        time = item.find('time').get_text().strip()
    except AttributeError:
        time = float('NaN')
    times.append(time)
    
    link = item.find('a').get('href')
    links.append(link)

df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': links})
print(df.head())

                                            Headline  Time  \
0  Stocks making the biggest moves after hours: A...   NaN
1  Stock futures fall slightly as investors diges...   NaN
2  Here's why the stock market had such a massive...   NaN
3  China just called Ukraine for the first time i...   NaN
4  Powell duped by Russian pranksters claiming to...   NaN

                                           News Link
0  https://www.cnbc.com/2023/04/27/stocks-making-...
1  https://www.cnbc.com/2023/04/27/stock-market-t...
2  https://www.cnbc.com/2023/04/27/heres-why-the-...
3  https://www.cnbc.com/2023/04/28/why-did-china-...
4  https://www.cnbc.com/2023/04/27/powell-duped-b...

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

soup = BeautifulSoup(page.content)
soup

paper_title = []

for i in soup.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)

paper_title

authors = []

for i in soup.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
    
authors

published_date = []
for i in  soup.find_all('span', class_= "sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
    
published_date

urls = []
for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    url = i.get('href')
    if url:
        urls.append(url)
        
urls

df = pd.DataFrame({'Paper Title' : paper_title, 'Authors': authors, 'Published Data' : published_date, 'URLS': urls })
df

,Paper Title,Authors,Published Data,URLS
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get('https://www.dineout.co.in/delhi-restaurants')

page

soup = BeautifulSoup(page.content)
soup

restaurant_name = soup.find('a', class_="restnt-name ellipsis")
restaurant_name
restaurant_name.text


restaurant_name = []

for i in soup.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)

restaurant_name

cuisine = soup.find('span', class_="double-line-ellipsis")
cuisine.text.split('|')[1]

cuisine = []

for i in soup.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
cuisine

loc = soup.find('div', class_="restnt-loc ellipsis")
loc.text

loc = []

for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    loc.append(i.text)
    
loc


rating = soup.find('div', class_= "restnt-rating rating-4")
rating.text


rating=[]
for i in soup.find_all('div', class_= "restnt-rating rating-4"):
    rating.append(i.text)
    
rating

images = soup.find("img", class_="no-img")
image_src = images.get('data-src')

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i.get('data-src'))
images


df = pd.DataFrame({'Restaurant Name' : restaurant_name, 'Cuisine': cuisine, 'Location' : loc, 'Rating': rating, 'Images_url' : images })
df

,Restaurant Name,Cuisine,Location,Rating,Images_url
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,My Bar Square,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,Warehouse Cafe,"North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,Cafe High 5,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
8,Lord of the Drinks,"Chinese, North Indian, Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
10,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
12,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Somewhere Restaurant & Bar,"North Indian, Continental, Asian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,Dasaprakash,"North Indian, South Indian, Beverages, Chines...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,The G.T. Road,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
18,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,The Imperial Spice,"North Indian, Chinese, Continental, Mughlai","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...